@using TanitianTravel.Client.Components
@inherits LayoutComponentBase

<div class="page">
    <header>
        <DemoAlert/>
        <NavMenu/>
    </header>

    <main>
        <article>
            @Body
        </article>
    </main>

    <footer class="bg-dark text-white py-3">
        <Footer></Footer>
    </footer>


</div>