@if (IsVisible)
{
    <div class="alert alert-warning alert-dismissible fade show text-center p-2 m-0" role="alert">
        <p class="m-0">This is a Demo
            <a href="https://github.com/tonyruizo/TanitiTourism" target="_blank"
               aria-label="See github repository of this demo">
                <i
                    class="bi bi-github"></i></a></p>
        <button type="button" class="btn-close pt-0" @onclick="DismissAlert" aria-label="Close"></button>
    </div>
}

@code {
    /// <summary>
    /// Determines whether the alert is visible.
    /// </summary>
    private bool IsVisible { get; set; } = true;
    /// <summary>
    /// Hides the alert by setting <see cref="IsVisible"/> to false.
    /// </summary>
    private void DismissAlert()
    {
        IsVisible = false;
    }

}

