@* General-purpose short info card with an icon*@

<div class="col-md-4">
    <div class="card border-0 shadow-sm p-4">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <i class="@Icon" style="color:var(--primary-color)"></i>
        }
        <h5 class="mt-3">
            @if (!string.IsNullOrEmpty(Link))
            {
                <NavLink href="@Link">@Title</NavLink>
            }
            else
            {
                @Title
            }

        </h5>
        <p>@Details</p>
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</div>

@code {
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string Title { get; set; } = "Title";
    [Parameter] public string Link { get; set; } = "/";
    [Parameter] public string Details { get; set; } = "Details";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}