@page "/Explore"
@using TanitianTravel.Client.Components

<PageTitle>Taniti Tourism - Explore</PageTitle>

<IntroSection Title="Explore The Island"
              Intro="Whether you're looking for a relaxing day by the shore, delicious local cuisine, convenient shopping, 
              or exciting nightlife, Taniti has it all. Explore our top recommendations and make the most of your visit!"/>

<section class="bg-light py-5">
    <div class="container">
        <div class="row g-4 py-5">
            <div class="col-lg-6">
                <div class="row g-4">
                    <!-- First Image & Text Block -->
                    <div class="col-12 ">
                        <div class="row g-0 align-items-center flex-column flex-md-row">
                            <h3 style="font-size: 1.3rem;">Explore the restaurants</h3>
                            <div class="col-md-6">
                                <div class="card shadow-sm border-0">
                                    <img src="images/mathew-schwartz-GjzJFMnJZYg-unsplash.webp"
                                         class="img-fluid w-100" alt="restaurant with a view">
                                </div>
                            </div>
                            <div class="col-md-6 p-4">
                                <p>Taniti currently has 10 restaurants: five serve mostly local fish and rice, three
                                    serve
                                    American-style meals, and two serve Pan-Asian cuisine.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Second Image & Text Block -->
                    <div class="col-12">
                        <div class="row g-0 align-items-center flex-column flex-md-row">
                            <h3 style="font-size: 1.3rem;">Go sightseeing</h3>
                            <div class="col-md-6">
                                <div class="card shadow-sm border-0">
                                    <img src="images/sean-oulashin-KMn4VEeEPR8-unsplash.webp" class="img-fluid w-100"
                                         alt="Explore Option 3">
                                </div>
                            </div>
                            <div class="col-md-6 p-4">
                                <p>Sandy beaches that encircle Yellow Leaf Bay. Other popular activities include
                                    boat or bus
                                    tours of the island, hikes in the rainforest, or visits to Taniti’s active
                                    volcano.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Image & Text Block -->
            <div class="col-lg-6 d-flex pb-5 pb-md-0">
                <div class="row g-0 flex-column flex-md-row w-100">
                    <h3 style="font-size: 1.3rem;" class="p-0">Check out our entertainment</h3>
                    <div class="col-md-6">
                        <div class="card shadow-sm border-0">
                            <img src="images/vidar-nordli-mathisen-Xb__KZBPzHQ-unsplash.webp" class="img-fluid w-100"
                                 alt="Explore Option 3">
                        </div>
                    </div>
                    <div class="col-md-6 px-4 d-flex flex-column">
                        <p class="pt-3 pt-md-0">Most people visit Taniti to enjoy the beaches, explore the
                            rainforest,
                            and to visit the
                            volcano.
                            However, there are other things to do. Many of these activities are located in Merriton
                            Landing,
                            which is a rapidly developing area on the north side of Yellow Leaf Bay.</p>
                        <p>Send us a message if you have any questions about our entertainment!</p>
                        <div>
                            <NavLink href="/contact" class="btn btn-outline-info"
                                     style="font-size: 1rem; color:black">Contact
                                us
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


@code {

}