@page "/"
@using TanitianTravel.Client.Components

<PageTitle>Taniti Tourism - Travel</PageTitle>

<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Welcome to <span class="text-info">Taniti</span></h1>
            <p>Discover the beauty, adventure, and culture of Taniti</p>
            <div class="hero-btn-container py-5">
                <a href="/explore" class="hero-btn btn btn-outline-info">Start Exploring</a>
            </div>
        </div>
    </div>
</section>

<IntroSection Title="About The Island"
              Intro="Taniti is a small, tropical island in the Pacific.
              While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, 
              a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano. 
              Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most the Tanitian 
              economy was dominated by fishing or agriculture."/>

<section class="bg-light py-5" id="preview-section">
    <div class="container text-center">
        <h3 class="pt-5">Everything You Need</h3>
        <p>From stunning beaches to top-rated restaurants, essential stores, and vibrant entertainment—everything
            you need for the
            perfect Taniti experience is right here.</p>
        <div class="row g-2 py-4">
            <PreviewImageCard Link="/explore"
                              Source="/images/mathew-schwartz-GjzJFMnJZYg-unsplash.jpg"
                              Alt="brown wooden tables with chairs on hardwood flooring"
                              Text="Restaurants"/>
            <PreviewImageCard Link="/explore"
                              Source="images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg"
                              Alt="seashore during golden hour"
                              Text="Beaches"/>
            <PreviewImageCard Link="/explore"
                              Source="images/caroline-hernandez-9FdHlYJNbKc-unsplash.jpg"
                              Alt="grocery store with fruits outside in boxes"
                              Text="Grocery Stores"/>
            <PreviewImageCard Link="/explore"
                              Source="images/vidar-nordli-mathisen-Xb__KZBPzHQ-unsplash.jpg"
                              Alt="man blowing out fire"
                              Text="Entertainment"/>
            <div class="col-12 py-4 see-all">
                <div>
                    <NavLink href="/explore">See all</NavLink>
                </div>
            </div>
        </div>
    </div>
</section>
              