@page "/"

<PageTitle>Taniti Tourism - Travel</PageTitle>

<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Welcome to <span class="text-info">Taniti</span></h1>
            <p>Discover the beauty, adventure, and culture of Taniti</p>
            <div class="hero-btn-container py-5">
                <a href="/explore" class="hero-btn btn btn-outline-info">Start Exploring</a>
            </div>
        </div>
    </div>
</section>